:root {
  --font: roboto-f, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: var(--font);
  min-width: 320px;
}

body {
  min-height: 100%;
  width: 100%;
  position: relative;
  min-width: 320px;
  margin: 0px;
  padding: 10px 10px 50px 10px;
  background: linear-gradient(180deg, #FFBFBF 0%, rgba(255, 255, 255, 0) 100%), #EDDEFF;
  background-repeat: no-repeat;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  color: #285373;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.button {
  padding: 10px 15px;
  background: linear-gradient(90deg, #8ED0FF 0%, rgba(255, 255, 255, 0) 100%), #B28DFF;
  border-radius: 25px;
  border: none;
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .logo {
  display: block;
  max-width: 70px;
  margin: 10px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header .title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 63px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.main {
  min-height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 50px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  opacity: 0;
  z-index: -2;
  background-color: #fff;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader svg {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.page_1 {
  display: initial;
}
.page_1 .params h2 {
  text-align: center;
  margin: 70px 0px;
}
.page_1 .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 70px;
}
.page_1 .form__border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: #fff;
  text-align: center;
}
.page_1 .form__border::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(35deg, #8ED0FF, #B28DFF);
  border-radius: 30px;
  z-index: 0;
}
.page_1 .form__border .form__input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #285373;
}
.page_1 .form__border .form__input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--font);
  color: #285373;
}
.page_1 .form__button {
  width: 200px;
  height: 50px;
}

.page_2 {
  display: none;
}
.page_2 h2 {
  text-align: center;
}
.page_2 .result .load {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  background: #fff;
  text-align: center;
  margin: 10px auto;
}
.page_2 .result .load::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(35deg, #8ED0FF, #B28DFF);
  border-radius: 25px;
  z-index: 0;
}
.page_2 .result .load__container {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #62FFF6 0%, rgba(255, 255, 255, 0) 100%), #9BFFA5;
}
.page_2 .result .load__white {
  margin-left: auto;
  width: 30%;
  height: 100%;
  background: #fff;
  border-radius: 0px 25px 25px 0px;
}
.page_2 .nickname {
  font-family: var(--font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  text-transform: uppercase;
  color: #0067B4;
}
.page_2 h3 {
  text-align: center;
}